<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" action="__CONTROLLER__/add_menu" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 菜单等级 </label>

                <div class="col-sm-9">
                    <select id="form-field-1" name="menu_type" class="col-xs-10 col-sm-5">
                        <option value="1" selected>一级菜单</option>
                        <option value="2">二级菜单</option>
                        <option value="3">三级菜单</option>
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 菜单名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-2" name="menu_name" placeholder="菜单名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
      <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> 模块名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="module_name" placeholder="模块名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-4"> 控制器名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-4" name="controller_name" placeholder="控制器名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 动作名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-5" name="action_name" placeholder="动作名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-6"> 参数 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-6" name="param" placeholder="参数" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-7"> 链接地址 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-7" name="link_url" placeholder="链接地址" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-8"> 显示状态 </label>

                <div class="col-sm-9">
                    <input name="is_show" id="form-field-8"  checked class="ace ace-switch ace-switch-4" type="checkbox" />
                    <span class="lbl"></span>
                </div>
            </div>


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Submit
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>