<div class="page-header">
    <h1>
        Grid
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            bootstrap grid sizing
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>面板</h4>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">面板标题</div>
                        <div class="panel-body">面板内容</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            dgdf
        </div>
        <div>
            dgdf
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->