<script language="JavaScript">

    /**
     * 选项更改处理方法
     * @param value
     * @param type
     */
    function selectOnChange(value,type)
    {
        if(type==1)
        {
            group1Init(value);
        }
        else if(type==2)
        {
            group2Init(value);
        }

    }


    function group1Init(value)
    {
        if(value==1)
        {
            $('#group1').addClass('hidden');
            $('#group2').addClass('hidden');

        }
        if(value==2)
        {
            $('#group1').removeClass('hidden');
            $('#group2').addClass('hidden');
            //异步获取一级菜单信息
            $("#form-select-1").empty();
            $.ajax({
                type: "post",
                url : "{:U('get_menu_group')}",
                dataType:'json',
                data: 'menu_parent_id=0',
                success: function(json){
                    $(json).each(function (i, item) {
                        $("#form-select-1").append("<option value='"+item.id+"'>"+item.menu_name+"</option>");
                    })
                }
            });
        }
        if(value==3)
        {
            $('#group1').removeClass('hidden');
            $('#group2').removeClass('hidden');
            //异步获取一级菜单信息
            $("#form-select-1").empty();
            $.ajax({
                type: "post",
                url : "{:U('get_menu_group')}",
                dataType:'json',
                data: 'menu_parent_id=0',
                success: function(json){
                    $(json).each(function (i, item) {
                        $("#form-select-1").append("<option value='"+item.id+"'>"+item.menu_name+"</option>");
                        if(i==0)
                        {
                            //异步获取二级菜单信息
                            group2Init(item.id);
                        }
                    })
                }
            });

        }
    }

    //异步获取二级菜单信息
    function group2Init(value)
    {

        $("#form-select-2").empty();
        $.ajax({
            type: "post",
            url : "{:U('get_menu_group')}",
            dataType:'json',
            data: 'menu_parent_id='+value,
            success: function(json){
                $(json).each(function (i, item) {
                    $("#form-select-2").append("<option value='"+item.id+"'>"+item.menu_name+"</option>");
                })
            }
        });
    }
</script>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" action="{:U('menu_edit')}" method="post" role="form">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 菜单等级 </label>

                <div class="col-sm-9">
                    <select id="form-field-1" name="menu_type" class="col-xs-10 col-sm-5" onchange="selectOnChange(this.options[this.options.selectedIndex].value,1)">
                        <option value="1" <eq name="single.menu_type" value="1">selected</eq>>一级菜单</option>
                        <option value="2"<eq name="single.menu_type" value="2">selected</eq>>二级菜单</option>
                        <option value="3" <eq name="single.menu_type" value="3">selected</eq>>三级菜单</option>
                        </select>
                </div>
            </div>

            <div class="form-group <eq name="is_group1_show" value="false">hidden</eq> " id="group1">
                <label class="col-sm-3 control-label no-padding-right" for="form-select-1"> 一级菜单 </label>

                <div class="col-sm-9">
                    <select id="form-select-1" name="parent1_id" class="col-xs-10 col-sm-5" onchange="selectOnChange(this.options[this.options.selectedIndex].value,2)">
                    <volist name="group1_list" id="vo">
                        <option value="{$vo.id}" <eq name="vo.id" value="$menu_group1_id">selected</eq>>{$vo.menu_name}</option>
                    </volist>
                    </select>
                </div>
            </div>

            <div class="form-group <eq name="is_group2_show" value="false">hidden</eq>" id="group2">
                <label class="col-sm-3 control-label no-padding-right" for="form-select-2"> 二级菜单 </label>
                <div class="col-sm-9">
                    <select id="form-select-2" name="parent2_id" class="col-xs-10 col-sm-5">
                        <volist name="group2_list" id="vo">
                            <option value="{$vo.id}" <eq name="vo.id" value="$menu_group2_id">selected</eq>>{$vo.menu_name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 菜单名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-2" name="menu_name" value="{$single.menu_name}" placeholder="菜单名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
      <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> 模块名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-3" name="module_name" value="{$single.module_name}" placeholder="模块名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-4"> 控制器名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-4" name="controller_name" value="{$single.controller_name}" placeholder="控制器名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 动作名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-5" name="action_name" value="{$single.action_name}" placeholder="动作名称" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-6"> 参数 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-6" name="param" value="{$single.param}" placeholder="参数" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-7"> 链接地址 </label>

                <div class="col-sm-9">
                    <input type="text" id="form-field-7" name="link_url" value="{$single.link_url}" placeholder="格式为http://www.baidu.com" class="col-xs-10 col-sm-5" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-8"> 显示状态 </label>

                <div class="col-sm-9">
                    <input name="is_show" id="form-field-8"  <eq name="single.is_show" value="0">checked<else/>  </eq>  class="ace ace-switch ace-switch-4" type="checkbox" />
                    <span class="lbl"></span>
                    <input name="id" value="{$single.id}" type="hidden">
                    <input name="parent_id" id="parent_id" value="{$single.parent_id}" type="hidden">
                </div>
            </div>


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Submit
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>
